@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    display: none;
  }
  
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html{
  scroll-behavior: smooth;
}

#team-images:hover > .team-image{
  filter: saturate(0)
}

#team-images:hover > .team-image:hover{
  filter: saturate(1)
}

.team-image{
  transition: filter 300ms ease;
}
